div {
  font-family: Arial;
}

.container {
  border-style: solid;
  border-color: rgb(200, 200, 200);
  /* border-color: gray; */
  border-width: 1px;
  /* border-radius: 20px; */
  border-radius: 6px;
  /* padding-top: 15px; 
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px; */ 
  /* width: 500px; */
  width: 300px;
}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: ; */
  align-items: center;
  /* font-size: 25px;
  margin-bottom: 20px; */
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
}

.number {
  /* background-color: blue; */
  background-color: rgb(49, 109, 245);
  color: white;
  /* padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px; */
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  /* font-size: ;
  font-weight: ; */
  font-size: 14px;
  font-weight: bold;
}