input{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(200, 200, 200);
  font-size: 16px;
  margin-bottom: 12px;
}

.input1{
  width: 148px;
}

.input2{
  width: 148px;
}

.input3{
  display: block;
  width: 300px;
}

.input1,input2{
  display: inline-block;
  margin-bottom: 10px;
}

.input3,.button{
  display: block;
}


.button{
  background-color: rgb(47, 127, 231);
  width: 300px;
  color: white;
  border: none;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}




/* input {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.first-name {
  width: 148px;
}

.last-name {
  width: 148px;
}

.email {
  display: block;
  width: 300px;
}

button {
  background-color: rgb(47, 127, 231);
  color: white;
  border: none;
  width: 300px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
} */