/* .card{
  font-family: Arial;
  border: solid;
  width: 300px;
  border-width: 1px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
} */

.title { 
  font-family: Arial;
 } 
.card{ 
  border-style: solid; 
  border-color: rgb(150, 150, 150); 
  width: 300px; 
  border-width: 1px; 
  padding-bottom: 20px; 
  padding-left: 15px; 
}