.YouTube{
  background-color: gray;
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

p{
  font-family: Arial;
}

.title{
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.description{
 color: rgb(75, 71, 71);
 width: 360px;
}