.box{
  display: inline-block;
  margin-top: 30px;
  margin-left: 30px;
  box-shadow: 0px 1px 5px rgb(0, 0, 0);
  border-radius: 20px;
  width: 600px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.photo{
  width: 50px;
  height: 50px;
  border-radius: 100px;
  object-fit: cover;
  vertical-align: middle;
}

.input{
border: none;
width: 440px;
font-size: 20px;
}

.button{
  background-color: rgba(36, 36, 247, 0.822);
  border: none;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  color: white;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
}