p{
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.video-title{
  font-weight: bold;
  font-size: 17px;
  width: 280px;
  line-height: 25px;
  margin-bottom: 5px;
}
.video-stats{
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
}
.video-author{
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
}
.video-desc{
  font-size: 14px;
  color: rgb(96, 96, 96);
  width: 284px;
  line-height: 22px;
  margin-bottom: 150px;
}

.apple-text{
  margin-bottom: 50px;
  font-size: 15px;
  background-color: rgb(277, 65, 64);
  color: white;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.shop-link{
  cursor: pointer;
}
.shop-link:hover{
  text-decoration: underline;
}